<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="utf-8">
      <title>Flask SQL Tutorial</title>
  </head>
  <body>
      <form action = "http://127.0.0.1:5000/signup-done" method="post">
          <h5>Enter the user Details</h5>
          <div>
              <input type="text" name="user_name" placeholder="user_name">
          </div>
          <div>
              <input type="text" name="first_name" placeholder="first_name">
          </div>
          <div>
            <input type="text" name="password" placeholder="password">
        </div>
          <div>
              <button >Submit</button>
          </div>
      </form>
  </body>

</html>