<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Writty | A todo list webapp</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/mainpage.css') }}">
</head>
<body>
<div id="breadcrumb">
  <p><b>Logged In Successfully</b> </p>
</div>
<div id="content">
  <div id="sidebar">
    <div id="logo">
      <h1><a href="#">Gold Co.</a></h1>
      <h2><a href="#">Free CSS Templates</a></h2>
    </div>
    <div id="menu">
      <ul>
        <li class="active"><a href="#">Homepage</a></li>
        <li><a href="/delete-task-page">Delete Task</a></li>
        <li><a href="/logout">Logout</a></li>
        <li><a href="#">Contribute to the project</a></li>
      </ul>
    </div>
    
  </div>
  <div id="main">
    <div id="welcome" class="post">
      <h2 class="title">Welcome to Gold Co.!</h2>
      <h3 class="date"><span class="month">Mar.</span> <span class="day">8</span><span class="year">, 2007</span></h3>
      <div class="meta">
        <p>Posted by Jane Anderson under <a href="#">Uncategorized</a>, <a href="#">Daily Journal</a><br />
          <a href="#">Trackback URI</a> | <a href="#">No Comments</a> | <a href="#">Permalink</a></p>
      </div>
      <div class="story">
        <p><strong>Gold Co.</strong> is a free template from Free CSS Templates released under a <a href="http://creativecommons.org/licenses/by/2.5/">Creative Commons Attribution 2.5 License</a>. The photo is from PDPhoto.org. You're free to use it for both commercial or personal use. I only ask that you link back to my site in some way. <em>Enjoy :)</em></p>
      </div>

    show the list of tasks here


    </div>


    
  </div>
  <div id="extra" style="clear: both;"></div>
</div>
<div id="footer">
  <p>Database Project</p>
</div>
</body>
</html>
